* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: sans-serif;
}

body.dark {
    background-color: rgb(17, 16, 16);
    color: rgb(154, 154, 154);
}

.input.dark {
    background-color: rgb(44, 44, 44);
    color :rgb(154, 154, 154)
}

.decor.dark {
    background-color: rgb(44, 44, 44);
}

#region.dark {
    border-right: 20px solid rgb(44, 44, 44)
}


.container { 
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    margin-top: 40px;
}

.decor {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    box-shadow: 0px 0px 63px -29px #000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-button img{
    width: 20px;
    margin-right: 7px;
}

.head-button {
    display: flex;
    align-items: flex-end;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.search {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#country {
    width: 350px;
    padding-left: 50px;
}

#region {
    width: 200px;
    border-right: 20px solid #fff;
}

.input {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    box-shadow: 0px 0px 53px -19px #000;
}

.search-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 76px;
    position: relative;
    min-height: 300px;
}

.country {
    background: #fff;
    width: 220px;
    box-shadow: 0px 0px 23px -13px #000;
}

.country__text {
    padding: 20px;
}

.country img {
    width: 220px;
    height: 150px;
}

.country__name {
    margin-bottom: 10px;
}


.country__population {
    font-weight: 700;
    margin-bottom: 5px;
}
.country__population_qty {
    font-weight: 500;
}
.country__region {
    font-weight: 700;
    margin-bottom: 5px;
}
.country__region_name {
    font-weight: 500;
}
.country__capital {
    font-weight: 700;
    margin-bottom: 5px;
}
.country__capital_name {
    font-weight: 500;
}

.head-button_light {
    display: flex;
    color: rgb(154, 154, 154);
    display: none;
    align-items: flex-start;
}

.content.dark>.country {
    background-color: rgb(44, 44, 44);
}

.lds-ring {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgb(17, 16, 16);
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }